*.Rproj

*.o
BVS_Reg
BayesSUR/src/*.o
BayesSUR/src/*.so
BayesSUR/src/*.dll
BayesSUR/src/symbols.rds
.Rhistory
.RData
.DS_Store

BayesSUR/autom4te.cache
BayesSUR/build
BayesSUR/hyperpar.xml

BayesSUR/build

.Rproj.user

ParamTrue*

results/*
tmp/*
.vscode/*
BayesSUR/src/Makevars
BayesSUR.Rcheck/00check.log
*.tar.gz
